.div-input{
    margin-left: 39%;
    margin-top: 5%;
}
.div-btn{
    margin-top: 2%;
    margin-left: 45%;
}
.img{
    margin-left: 10%;
}
body{
    background-color: blueviolet;
}
.fo1{
    display: inline;
}