*{margin: auto; padding: auto;}
.div-input{
    height: 30px;
    margin-left: 75%;
    margin-top: 1.5%;
    padding: 0px
}
.div-btn{
    transition-property: box-shadow;
    transition-duration: 0.5s;
    box-shadow: 5px 5px;
    border-radius: 25px;
    text-align: center;
    padding: 2px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: gray;
    margin-top: 0.5%;
    margin-left: 0.1%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.div-btn p{
    color: white;
    padding: 15px;
}
.img{
    margin-left: 0%;
}
body{
    background-color: blueviolet;
}
.fo1{
    display: inline;
}
#input{
    transition-property: border-bottom;
    transition-duration: 0.5s;
    height: 30px;
    width: 220px;
    outline-width: 0;
    background-color: gray;
    border: none;
    border-bottom: 4px solid black;
}
.sc-inbt{
    background-color: #353535;
    height:  75px;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid black;
}
#input:hover{
    border-bottom: 10px solid black;
}
#input:focus{
    border-bottom: 10px solid black;
}
.div-btn:hover{
    box-shadow: 10px 10px;
}